.main_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3vh;
}

.home_container {
	display: flex;
	background-image: url('title.png');
  background-image: url('bg.png');
  flex-direction: column;
  background-size:100%;
}

.title {
	background-image: url('title.png');
  background-repeat: no-repeat;
  margin-left: 4%;
  margin-top: 4%;
  background-size: 35%;
  margin-bottom: 10%;
}

#header {
	color: #DBEAD8;
	font-size: 8vh;
	text-align: center;
	line-height: 0;
}

body {
	margin: 0;
	background-color: #F5FEC7;
}

.nav_wrapper {
	width: 100%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border-bottom: 0.2vh solid black;
	background-color: #FBFAEC;
	position: fixed;
	z-index: 1;
}

.nav_menu {
	display: flex;
	/* margin-left: 50%; for full nav */
	margin-left: 70%;
	justify-content: space-around;
}

.nav {
	display: flex;
}

a, a {
	color: black;
	font-family: Bitter;
	font-style: italic;
	text-decoration: none;
}

a:hover {
	color: #ECC30B;
}

.statement {
	font-family: Bitter;
	line-height: 2.5rem;
	font-size: 3vh;
	background-color: #FBFAEC;
	color: black;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-left: 20%;
	padding-right: 40%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.statement:nth-last-child(4) {
	padding-top: 5%;
	border-top: 0.2vh solid black;
}

.statement:nth-child(even) {
	padding-left: 40%;
	padding-right: 20%;
}

.statement:nth-last-child(1) {
	padding-bottom: 5%;
	border-bottom: 0.2vh solid black;
}

.box {
	padding-left: 6%;
	padding-right: 6%;
	background-color: white;
	border: 0.2vh solid black;
	border-radius: 2%;
	box-shadow: 10px 10px 5px rgb(88,88,88);
}

.header {
	font-family: Bitter;
	text-align: center;
	line-height: 2rem;
	font-size: 3.5vh;
	font-style: italic;
	background-color: white;
	border: 0.2vh solid black;
	padding: 2%;
	border-radius: 2%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 15%;
	margin-bottom: 0;
	z-index: -1;
	box-shadow: 10px 10px 5px rgb(88,88,88);
}

.gridLayout {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	align-content: center;
}

#outputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5vw;
  height: 30%;
  margin-bottom: 8%;
}

#outputGrid>a, #outputGrid>a:visited {
  color: #000;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1.25vw;
  transition: background-color 0.25s;
  border-radius: 3px;
  background-color: #FBFAEC;
  height: 60vh;
  box-shadow: 10px 10px 5px rgb(88,88,88);
}

#outputGrid>a:hover {
  background-color: #92A889;
}

.previewTitle {
  font-weight: bold;
  margin-bottom: 1.25vw;
}

.thumbnail {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 3px;
  display: flex;
}

.projectHeroImage {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.5vw;
  border-radius: 6px;
  display: flex;
}

.description {
  line-height: 2em;
}

form {
	margin-left: 40%;
	margin-right: 40%;
}


.btn {
  border: none;
  outline: none;
  border-radius: 10%;
  font-family: Bitter;
  padding: 10px 13px;
  margin: 2%;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #92A889;
}

.loc_grid {
		margin-right: 7%;
		margin-left: 7%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.food_img {
		box-sizing: border-box;
		width: 25%;
		text-align: center;
		margin-bottom: 4%;
	}

	.food_img img {
		border-radius: 8px;
		width: 80%;
		height: 80%;
		object-fit: cover;
	}

	.food_img p {
		margin-top: 8px;
	}


	.container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
	width: 30%;
	box-shadow: 10px 10px 5px rgb(88,88,88);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  max-width: 100%;
  max-height: 100%;
}

.about {
  width: 30%; 
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(88,88,88);

}

.about h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}
